openapi: 3.1.1
info:
  version: '1.14'
  title: Marketing API
  description: |
    API позволяет получать спортивные события, маркеты для них и результат матча
    — его счет, а также — реферальные ссылки, чтобы перенаправлять трафик из
    вашего приложения на сайт букмекера для участия в реферальной программе.

    **Формат возвращаемых данных**: JSON

    > **Важно**: один матч в реальном мире в API соответствует разным спортивным
    > событиям:
    > *   для линии и для лайва
    > *   для разных периодов матча
    > *   для дополнительных маркетов не на исход матча (типы спортивных
    >     событий)

    *   [Глоссарий](/intro/glossary)
    *   Как получить все спортивные события матча:
        *   [LoadSingle](/intro/getEvents/loadsingle)
        *   [LoadList](/intro/getEvents/loadlist)
        *   [LoadTree](/intro/getEvents/loadtree)
    *   Как получить результаты спортивных событий:
        *   [Result](/intro/result)
    *   Как получить статистику:
        *   [Statistics](/intro/MarketingStatisticFeed)
servers:
  - url: https://cpservm.com/gateway/marketing
security:
  - clientCredentials: []
tags:
  - name: LoadSingle
    description: |
      Спортивные события `LoadSingle`

      > Если какой-либо из методов возвращает 403 ошибку, запросите у вашего
      менеджера доступ к `LoadSingle`.
  - name: LoadList
    description: |
      Спортивные события `LoadList`

      > Если какой-либо из методов возвращает 403 ошибку, запросите у вашего
      менеджера доступ к `LoadList`.
  - name: LoadTree
    description: |
      Спортивные события `LoadTree`

      > Если какой-либо из методов возвращает 403 ошибку, запросите у вашего
      менеджера доступ к `LoadTree`.
  - name: Result
    description: |
      Результаты матчей.

      Для всех методов действуют ограничения:
      * **Минимальная** разница между `dateFrom` и `dateTo` составляет 1 минуту.
      * **Максимальная между** `dateFrom` и `dateTo` составляет 48 часов.
  - name: Marketing
    x-displayName: Dictionaries
    description: |
      Справочники
  - name: Models
    x-displayName: Models

    description: |
      См. [Глоссарий](/intro/glossary), чтобы узнать больше о терминах, которые
      используются в описании ниже.


      ## Спортивное событие линии

      <SchemaDefinition
        schemaRef="#/components/schemas/GameDataFeed.Line.Contract.V2.LocalizationSportEventDtoV2"
      />


      ## Спортивное событие лайва

      <SchemaDefinition
        schemaRef="#/components/schemas/GameDataFeed.Live.Contract.V2.LocalizationSportEventDtoV2"
      />


      ## Маркет

      <SchemaDefinition
        schemaRef="#/components/schemas/GameDataFeed.Contract.V2.OddDtoV2"
      />
      
      ## Таблица чемпионата

      <SchemaDefinition
        schemaRef="#/components/schemas/TableBaseResponse"
      />
  - name: Statistics
    description: Статистика
paths:
  /datafeed/prematch/api/v2/sportevents:
    get:
      tags:
        - LoadSingle
      description: |
        **Ограничение количества запросов**: Не более 1 идентичного* запроса 1
        раз в 20 секунд с 1 клиентского приложения. Это необходимо, чтобы
        равномерно распределить ресурсы сервиса API и защитить его от
        перегрузки.

        <details>
          <summary>
            *Идентичный запрос — это запрос с тем же набором и значениями
            параметров.
          </summary>

         <div>
            Запросы ниже идентичные:

            ```sh
            curl \
              -L \
              -G \
              https://cpservm.com/gateway/marketing/datafeed/prematch/api/v2/sportevents \
              -d 'Ref=1' \
              -d 'Periods=1,2,3' \
              -d 'SportIds=1,2,3'
            ```

            ```sh
            curl \
              -L \
              -G \
              https://cpservm.com/gateway/marketing/datafeed/prematch/api/v2/sportevents \
              -d 'Ref=1' \
              -d 'Periods=1,2,3' \
              -d 'SportIds=1,2,3'
            ```

            Запросы ниже не идентичные:

            ```sh
            curl \
              -L \
              -G \
              https://cpservm.com/gateway/marketing/datafeed/prematch/api/v2/sportevents \
              -d 'Ref=1' \
              -d 'SportEventIds=12345'
            ```

            ```sh
            curl \
              -L \
              -G \
              https://cpservm.com/gateway/marketing/datafeed/prematch/api/v2/sportevents \
              -d 'Ref=1' \
              -d 'SportEventIds=54321'
            ```
          </div>
        </details>
      operationId: SportEventsOperationLine
      parameters:
        - name: ref
          in: query
          description: |
            Идентификатор партнера (параметр необходимо уточнять у менеджера).
          required: true
          schema:
            type: integer
            format: int32
            default: 1
        - name: gr
          in: query
          description: |
            Группа. Совместно с `cnt`:
            
            * определяет доступность видео на сайте букмекера;
            * если не передан `partnerLink`, используется для формирования доменной части ссылки (`link` в ответе).
            
            Уточните значение параметра у вашего менеджера.
          schema:
            type: integer
            format: int32
            nullable: true
        - name: cnt
          in: query
          description: |
            Страна-геопозиция клиента.
            
            Позволяет определять наличие видео в лайве для конкретной страны. 
            Флаг `hasVideo` в ответе будет только у тех спортивных событий, для которых на сайте букмекера ожидается видео в стране, указанной в запросе.
            
            Если не передан `partnerLink`, используется совместно с `gr` для формирования доменной части ссылки (`link` в ответе). 
          schema:
            type: integer
            format: int32
            nullable: true
        - name: lng
          in: query
          description: |
            Двухбуквенный код языка в ISO 639-1.

            См.
            [Справочник языков](/api#tag/Marketing/operation/LanguagesQuery).
          schema:
            type: string
            nullable: true
        - name: periods
          in: query
          description: |
            Номера периодов спортивных событий через запятую.

            По умолчанию всегда `0` (основной период).

            > Чтобы получить все возможные периоды, укажите `0`, `1`, `2`, ...
            (количество периодов зависит от спорта).
          schema:
            type: string
            nullable: true
        - name: vids
          in: query
          description: |
            Идентификаторы видов спортивных событий через запятую.

            По умолчанию `1` (основной вид).

            > Некоторые виды спорта
            (`3` (Баскетбол),
            `28` (Австралийский футбол),
            `13` (Американский футбол))
            могут содержать главные спортивные события с `Vids` = `12`
            (см. [Глоссарий](/intro/glossary)).

            Дополнительно передавайте `Vids` = `12`, чтобы получить их.

            > События, которые не являются главными (с основным типом
            (`Types` = `1`) и основным периодом (`Periods` = 0)),
            будут приходить с основным видом (`Vids` = 1).
          schema:
            type: string
            nullable: true
        - name: types
          in: query
          description: |
            Идентификаторы типов спортивных событий через запятую.

            По умолчанию `1` (основной тип).
          schema:
            type: string
            nullable: true
        - name: sportEventIds
          in: query
          description: |
            Идентификаторы спортивных событий через запятую.

            > **Важно**: может принимать как `sportEventId`, так и
            `constSportEventId` (общий идентификатор события для линии и лайва).
            Чтобы найти матч из линии в лайве после его начала, используйте
            `constSportEventId`.
          schema:
            type: string
            nullable: true
        - name: tournamentIds
          in: query
          description: |
            Идентификаторы турниров через запятую.

            По умолчанию — все турниры.
          schema:
            type: string
            nullable: true
        - name: tournamentCountryIds
          in: query
          description: |
            Идентификаторы стран проведения турниров через запятую.

            Принимает `id` из
            [Справочника стран](/api#tag/Marketing/operation/LocalizedCountryNamesQuery).
          schema:
            type: string
            nullable: true
        - name: sportIds
          in: query
          description: |
            Идентификаторы спортов через запятую.

            По умолчанию — все спорты из справочника.
          schema:
            type: string
            nullable: true
        - name: subSportIds
          in: query
          description: |
            Идентификаторы дисциплин через запятую.
          schema:
            type: string
            nullable: true
        - name: gtStart
          in: query
          description: |
            Фильтр по времени старта: в ответе придут спортивные события,
            дата старта которых больше указанного значения.

            Задается как UnixEpoch.
          schema:
            type: integer
            format: int64
            nullable: true
        - name: ltStart
          in: query
          description: |
            Фильтр по времени старта: в ответе придут спортивные события, дата
            старта которых меньше указанного значения.

            Задается как UnixEpoch.
          schema:
            type: integer
            format: int64
            nullable: true
        - name: oddsIds
          in: query
          description: |
            Идентификаторы маркетов (из справочника) через запятую.

            Потребуется, чтобы получить конкретные маркеты по спортивному
            событию.
          schema:
            type: string
            nullable: true
        - name: schemeOfGettingOddsOperations
          in: query
          description: |
            > [Фильтр возвращаемых маркетов](/intro/references/schemeOfGettingOdds#schemeofgettingoddsoperations).
          schema:
            $ref: '#/components/schemas/GameDataFeed.Contract.SchemeOfGettingOddsOperations'
        - name: video
          in: query
          description: |
            Фильтр по наличию будущей видеотрансляции после начала события (в
            лайве).

            * `true` — в ответе придут только спортивные события с видео
              (`hasVideo` = `true`)
            * `false` (по умолчанию) — придут все спортивные события (и с видео,
              и без)

            > См. также `count`.
          schema:
            type: boolean
        - name: partnerLink
          in: query
          description: |
            Партнерская ссылка для замены ссылки на спортивное событие в ответе.

            Формат: `{относительный путь ссылки, включая домен}?tag={тег}`

            Пример: *ref.top/L?tag=s_23283m_355c_*

            Если передано значение, все ссылки (`link` в ответе) будут заменены:
            * `https://{переданное значение}&r={путь ссылки на спортивное событие на сайте букмекера}`
            * `https://ref.top/L?tag=s_23283m_355c&r=/ru/live/Football/1299397-England-Premier-League-2/351754042-Crystal-Palace-U23-Liverpool-U23`

            > Обратитесь в вашему менеджеру, чтобы узнать как получить
            партнерскую ссылку в Личном кабинете партнера.
          schema:
            type: string
            nullable: true
        - name: opponentIds
          in: query
          description: |
            Идентификаторы оппонентов через запятую.

            Если переданы, в ответе будут только события с указанными
            оппонентами.
          schema:
            type: string
            nullable: true
        - name: count
          in: query
          description: |
            Максимальное количество спортивных событий, которое будет возвращено
            в ответе.

            По умолчанию `100`.

            > Если задано значение `count`, то сервис сначала берет `count`
            событий, а затем фильтрует их по флагу `hasVideo`. В результате
            событий в ответе может быть меньше, чем `count`.
          schema:
            type: integer
            format: int32
            default: 100
      responses:
        '200':
          description: |
            Массив спортивных событий.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameDataFeed.Contract.ListResultResource`1[GameDataFeed.Line.Contract.V2.LocalizationSportEventDtoV2]'
        '400':
          description: |
            Ошибка валидации:
            * не передан обязательный параметр
            * неизвестный параметр. *Проверьте имя параметра*
            * два одинаковых параметра в запросе
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '403':
          description: |-
            Ошибка проверки правил.

            *Проверьте, правильно ли указаны `ref` и `gr` в запросе*.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
      summary: Спортивные события линии
  /datafeed/live/api/v2/sportevents:
    get:
      tags:
        - LoadSingle
      description: |
        **Ограничение количества запросов**: Не более 1 идентичного запроса* в 5
        секунд с 1 клиентского приложения. Это необходимо, чтобы равномерно
        распределить ресурсы сервиса API и защитить его от перегрузки.

        <details>
          <summary>
           *Идентичный запрос — это запрос с тем же набором и значениями
           параметров.
          </summary>

          <div>
            Запросы ниже идентичные:

            ```sh
            curl \
              -L \
              -G \
              https://cpservm.com/gateway/marketing/datafeed/live/api/v2/sportevents \
              -d 'Ref=1' \
              -d 'Periods=1%2C2%2C3' \
              -d 'SportIds=1%2C2%2C3'
            ```

            ```sh
            curl \
              -L \
              -G \
              https://cpservm.com/gateway/marketing/datafeed/live/api/v2/sportevents \
              -d 'Ref=1' \
              -d 'Periods=1%2C2%2C3' \
              -d 'SportIds=1%2C2%2C3'
            ```

            Запросы ниже не идентичные:

            ```sh
            curl \
              -L \
              -G \
              https://cpservm.com/gateway/marketing/datafeed/live/api/v2/sportevents \
              -d 'Ref=1' \
              -d 'SportEventIds=12345'
            ```

            ```sh
            curl \
              -L \
              -G \
              https://cpservm.com/gateway/marketing/datafeed/live/api/v2/sportevents \
              -d 'Ref=1' \
              -d 'SportEventIds=54321'
            ```
          </div>
        </details>
      operationId: SportEventsOperationLive
      parameters:
        - name: ref
          in: query
          description: |
            Идентификатор партнера (параметр необходимо уточнять у менеджера).
          required: true
          schema:
            type: integer
            format: int32
            default: 1
        - name: gr
          in: query
          description: |
            Группа. Совместно с `cnt`:
            
            * определяет доступность видео на сайте букмекера;
            * если не передан `partnerLink`, используется для формирования доменной части ссылки (`link` в ответе).
            
            Уточните значение параметра у вашего менеджера.
          schema:
            type: integer
            format: int32
            nullable: true
        - name: cnt
          in: query
          description: |
            Страна-геопозиция клиента.
            
            Позволяет определять наличие видео в лайве для конкретной страны. 
            Флаг `hasVideo` в ответе будет только у тех спортивных событий, для которых на сайте букмекера ожидается видео в стране, указанной в запросе.
            
            Если не передан `partnerLink`, используется совместно с `gr` для формирования доменной части ссылки (`link` в ответе).
          schema:
            type: integer
            format: int32
            nullable: true
        - name: lng
          in: query
          description: |
            Двухбуквенный код языка в ISO 639-1.

            См.
            [Справочник языков](/api#tag/Marketing/operation/LanguagesQuery).
          schema:
            type: string
            nullable: true
        - name: periods
          in: query
          description: |
            Номера периодов спортивных событий через запятую. По умолчанию
            всегда `0` (основной период).

            > Чтобы получить все возможные периоды, укажите `0`, `1`, `2`, ...
            (количество периодов зависит от спорта).
          schema:
            type: string
            nullable: true
        - name: vids
          in: query
          description: |
            Идентификаторы видов спортивных событий через запятую.

            По умолчанию `1` (основной вид).

            > Некоторые виды спорта
            (`3` (Баскетбол),
            `28` (Австралийский футбол),
            `13` (Американский футбол))
            могут содержать главные спортивные события с `Vids` = `12`
            (см. [Глоссарий](/intro/glossary)). Дополнительно передавайте
            `Vids` = `12`, чтобы получить их.

            > События, которые не являются главными (с основным типом
            (`Types` = `1`) и основным периодом (`Periods` = `0`)),
            будут приходить с основным видом (`Vids` = `1`).
          schema:
            type: string
            nullable: true
        - name: types
          in: query
          description: |
            Идентификаторы типов спортивных событий через запятую.

            По умолчанию `1` (основной тип).
          schema:
            type: string
            nullable: true
        - name: sportEventIds
          in: query
          description: |
            Идентификаторы спортивных событий через запятую.

            > **Важно**: может принимать как `sportEventId`, так и
            `constSportEventId` (общий идентификатор события для линии и лайва).
            Чтобы найти матч из линии в лайве после его начала, используйте
            `constSportEventId`.
          schema:
            type: string
            nullable: true
        - name: tournamentIds
          in: query
          description: |
            Идентификаторы турниров через запятую.

            По умолчанию — все турниры.
          schema:
            type: string
            nullable: true
        - name: tournamentCountryIds
          in: query
          description: |
            Идентификаторы стран проведения турниров через запятую.

            Принимает `id` из
            [Справочника стран](/api#tag/Marketing/operation/LocalizedCountryNamesQuery).
          schema:
            type: string
            nullable: true
        - name: sportIds
          in: query
          description: |
            Идентификаторы спортов через запятую.

            По умолчанию — все спорты из справочника.
          schema:
            type: string
            nullable: true
        - name: subSportIds
          in: query
          description: |
            Идентификаторы дисциплин через запятую.
          schema:
            type: string
            nullable: true
        - name: gtStart
          in: query
          description: |
            Фильтр по времени старта: в ответе придут спортивные события, дата
            старта которых больше указанного значения.

            Задается как UnixEpoch.
          schema:
            type: integer
            format: int64
            nullable: true
        - name: ltStart
          in: query
          description: |
            Фильтр по времени старта: в ответе придут спортивные события, дата
            старта которых меньше указанного значения.

            Задается как UnixEpoch.
          schema:
            type: integer
            format: int64
            nullable: true
        - name: oddsIds
          in: query
          description: |
            Идентификаторы маркетов (из справочника) через запятую.

            Потребуется, чтобы получить конкретные маркеты по спортивному
            событию.
          schema:
            type: string
            nullable: true
        - name: schemeOfGettingOddsOperations
          in: query
          description: |
            > [Фильтр возвращаемых маркетов](/intro/references/schemeOfGettingOdds#schemeofgettingoddsoperations).
          schema:
            $ref: '#/components/schemas/GameDataFeed.Contract.SchemeOfGettingOddsOperations'
        - name: video
          in: query
          description: |
            Фильтр по наличию видеотрансляции в событии.

            * `true` — в ответе придут только спортивные события с видео
              (`hasVideo` = `true`)
            * `false` (по умолчанию) — придут все спортивные события
              (и с видео, и без)

            > См. также `count`.
          schema:
            type: boolean
        - name: partnerLink
          in: query
          description: |
            Партнерская ссылка для замены ссылки на спортивное событие в ответе.

            Формат: `{относительный путь ссылки, включая домен}?tag={тег}`

            Пример: *ref.top/L?tag=s_23283m_355c_*

            Если передано значение, все ссылки (`link` в ответе) будут заменены:
            * `https://{переданное значение}&r={путь ссылки на спортивное событие на сайте букмекера}`
            * `https://ref.top/L?tag=s_23283m_355c&r=/ru/live/Football/1299397-England-Premier-League-2/351754042-Crystal-Palace-U23-Liverpool-U23`

            > Обратитесь в вашему менеджеру, чтобы узнать как получить
            партнерскую ссылку в Личном кабинете партнера.
          schema:
            type: string
            nullable: true
        - name: opponentIds
          in: query
          description: |
            Идентификаторы оппонентов через запятую.

            Если переданы, в ответе будут только события с указанными
            оппонентами.
          schema:
            type: string
            nullable: true
        - name: count
          in: query
          description: |
            Максимальное количество спортивных событий, которое будет возвращено
            в ответе.

            По умолчанию `100`.

            > Если задано значение `count`, то сервис сначала берет `count`
            событий, а затем фильтрует их по флагу `hasVideo`. В результате
            событий в ответе может быть меньше, чем `count`.
          schema:
            type: integer
            format: int32
            default: 100
      responses:
        '200':
          description: |
            Массив спортивных событий
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameDataFeed.Contract.ListResultResource`1[GameDataFeed.Live.Contract.V2.LocalizationSportEventDtoV2]'
        '400':
          description: |
            Ошибка валидации:
            * не передан обязательный параметр
            * неизвестный параметр. *Проверьте имя параметра*
            * два одинаковых параметра в запросе
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '403':
          description: |
            Ошибка проверки правил.

            *Проверьте, правильно ли указаны `ref` и `gr` в запросе*
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
      summary: Спортивные события лайва
  /datafeed/prematch/api/v1/gameInsights:
    get:
      tags:
      - LoadSingle
      description: Возвращает маркеты и инсайты по `sportEventId`.
      operationId: GameInsights
      parameters:
      - name: sportEventId
        in: query
        description: |
          Идентификатор спортивного события.
        required: true
        schema:
          type: integer
          format: int32
      - name: ref
        in: query
        description: Идентификатор партнера (параметр необходимо уточнять у менеджера).
        required: true
        schema:
          type: integer
          format: int32
          default: 1
      - name: gr
        in: query
        description: |
          Группа.
          
          Совместно с `cnt` определяет доступность видео на сайте букмекера.
          
          Уточните значение параметра у вашего менеджера.
        schema:
          type: integer
          format: int32
          nullable: true
      - name: cnt
        in: query
        description: |
          Страна-геопозиция клиента.
          
          Позволяет определять наличие видео в лайве для конкретной страны.
          
          Флаг `hasVideo` в ответе будет только у тех спортивных событий, для
          которых на сайте букмекера ожидается видео в стране, указанной в
          запросе.
        schema:
          type: integer
          format: int32
          nullable: true
      - name: lng
        in: query
        description: |
          Двухбуквенный код языка в ISO 639-1.
          
          См.
          [Справочник языков](/api#tag/Marketing/operation/LanguagesQuery).
        schema:
          type: string
          nullable: true
      responses:
        '200':
          description: Массив инсайтов.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GameDataFeed.Contract.ListResultResource`1[GameDataFeed.Line.Contract.V1.SportEventInsightsDto]"
        '400':
          description: |
            Ошибка валидации:
            * не передан обязательный параметр
            * неизвестный параметр. *Проверьте имя параметра*
            * два одинаковых параметра в запросе
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
        '403':
          description: |
            Ошибка проверки правил.

            *Проверьте, правильно ли указаны `ref` и `gr` в запросе*.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
      summary: Инсайты
  /datafeed/directories/api/v1/types:
    get:
      tags:
        - Marketing
      summary: Справочник типов спортивных событий
      description: |
        Перечень доступных типов спортивных событий.

        *Перечень можно дополнить. Обратитесь к вашему менеджеру.*
      operationId: TypeGameQuery
      parameters:
        - name: lng
          in: query
          description: |
            Двухбуквенный код языка в ISO 639-1.

            См.
            [Справочник языков](/api#tag/Marketing/operation/LanguagesQuery).
          schema:
            type: string
            default: en
      responses:
        '200':
          description: |
            Массив типов спортивных событий
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TypeGameDtoListResultResource'
              example:
                items:
                  - id: 1
                    name: ''
                  - id: 2
                    name: Corners
                  - id: 8
                    name: Yellow Cards
                  - id: 10
                    name: Cards
                  - id: 12
                    name: Shots On Target
                  - id: 13
                    name: Offsides
                  - id: 14
                    name: Fouls
  /datafeed/directories/api/v1/vid:
    get:
      tags:
        - Marketing
      summary: Справочник видов спортивных событий
      description: |
        Перечень доступных видов спортивных событий.

        *Перечень можно дополнить. Обратитесь к вашему менеджеру.*
      operationId: VidGameQuery
      parameters:
        - name: lng
          in: query
          description: |
            Двухбуквенный код языка в ISO 639-1.

            См.
            [Справочник языков](/api#tag/Marketing/operation/LanguagesQuery).
          schema:
            type: string
            default: en
      responses:
        '200':
          description: |
            Массив видов спортивных событий
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VidGameDtoListResultResource'
              example:
                items:
                  - id: 1
                    name: ''
                  - id: 19
                    name: Penalty Shootout
                  - id: 12
                    name: Including Overtime
                  - id: 15
                    name: Including Overtime and Shootout
                  - id: 17
                    name: Extra-Time
                  - id: 22
                    name: Cham. Tie-Break
                  - id: 27
                    name: Overtime
                  - id: 28
                    name: Golden Set
                  - id: 31
                    name: Shootouts
                  - id: 783
                    name: Including Super Tie-Break
  /datafeed/directories/api/v2/sports:
    get:
      tags:
        - Marketing
      summary: Справочник спортов
      description: |
        Перечень доступных спортов.

        *Перечень можно дополнить. Обратитесь к вашему менеджеру.*
      operationId: SportsQuery
      parameters:
        - name: ref
          in: query
          description: |
            Идентификатор партнера.
          required: true
          schema:
            type: integer
            format: int64
            default: 1
        - name: lng
          in: query
          description: |
            Двухбуквенный код языка в ISO 639-1.

            См.
            [Справочник языков](/api#tag/Marketing/operation/LanguagesQuery).
          schema:
            type: string
            default: en
      responses:
        '200':
          description: |
            Массив спортов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportDtoListResultResource'
              example:
                items:
                  - id: 1
                    name: Football
                    maxPeriodCount: 3
                  - id: 2
                    name: Ice Hockey
                    maxPeriodCount: 4
                  - id: 3
                    name: Basketball
                    maxPeriodCount: 3
                  - id: 4
                    name: Tennis
                    maxPeriodCount: 8
                  - id: 5
                    name: Baseball
                    maxPeriodCount: 5
                  - id: 6
                    name: Volleyball
                    maxPeriodCount: 4
                  - id: 7
                    name: Rugby
                    maxPeriodCount: 4
  /datafeed/directories/api/v2/sportevents:
    get:
      tags:
        - Marketing
      summary: Справочник маркетов
      description: |
        Перечень доступных маркетов.

        *Перечень можно дополнить. Обратитесь к вашему менеджеру.*
      operationId: SportEventsQuery
      parameters:
        - name: ref
          in: query
          description: |
            Идентификатор партнера.
          required: true
          schema:
            type: integer
            format: int64
            default: 1
        - name: lng
          in: query
          description: |
            Двухбуквенный код языка в ISO 639-1.

            См.
            [Справочник языков](/api#tag/Marketing/operation/LanguagesQuery).
          schema:
            type: string
            default: en
      responses:
        '200':
          description: |
            Массив маркетов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportEventsDtoListResultResource'
              example:
                items:
                  - id: 1
                    name: W1
                  - id: 2
                    name: X
                  - id: 3
                    name: W2
                  - id: 4
                    name: 1X
                  - id: 5
                    name: '12'
                  - id: 6
                    name: 2X
                  - id: 7
                    name: Handiсap 1 ()
                  - id: 8
                    name: Handicap 2 ()
                  - id: 9
                    name: Total Over ()
                  - id: 10
                    name: Total Under ()
                  - id: 11
                    name: Individual Total 1 Over ()
                  - id: 12
                    name: Individual Total 1 Under ()
                  - id: 13
                    name: Individual Total 2 Over ()
                  - id: 14
                    name: Individual Total 2 Under ()
  /datafeed/directories/api/v2/subsports:
    get:
      tags:
        - Marketing
      summary: Справочник дисциплин
      description: |
        Перечень доступных дисциплин.

        Дисциплины существуют только у спорта "Киберспорт"

        *Перечень можно дополнить. Обратитесь к вашему менеджеру.*
      operationId: SubSportsQuery
      parameters:
        - name: ref
          in: query
          description: |
            Идентификатор партнера.
          required: true
          schema:
            type: integer
            format: int64
            default: 1
        - name: lng
          in: query
          description: |
            Двухбуквенный код языка в ISO 639-1.

            См. [Справочник языков](/api#tag/Marketing/operation/LanguagesQuery).
          schema:
            type: string
            default: en
      responses:
        '200':
          description: |
            Массив дисциплин
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubSportDtoListResultResource'
              example:
                items:
                  - id: 1
                    name: Dota 2
                  - id: 2
                    name: League of Legends
                  - id: 3
                    name: CS:GO
                  - id: 4
                    name: Starcraft II
                  - id: 5
                    name: Starcraft BroodWar
                  - id: 6
                    name: Call of Duty
  /datafeed/directories/api/v1/language:
    get:
      tags:
        - Marketing
      summary: Справочник языков
      description: |
        Перечень всех языков локализации с кодом ISO 639-1 и кодом страны 3166-1
        alpha 2 (формат `aa_BB`).
      operationId: LanguagesQuery
      responses:
        '200':
          description: |
            Массив языков
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/LocalizedLanguageDto'
              example:
                en:
                  id: 1
                  uriName: en
                  localized: English
                  textDirectionRTL: false
                  isoCode: en_GB
                de:
                  id: 2
                  uriName: de
                  localized: Deutsch
                  textDirectionRTL: false
                  isoCode: de_DE
                ru:
                  id: 3
                  uriName: ru
                  localized: Русский
                  textDirectionRTL: false
                  isoCode: ru_RU
                ka:
                  id: 4
                  uriName: ka
                  localized: ქართული
                  textDirectionRTL: false
                  isoCode: ge_GE
  /datafeed/directories/api/v1/countries:
    get:
      tags:
        - Marketing
      summary: Справочник стран
      description: |
        Перечень доступных стран.

        Код страны определяет геопозицию клиентского приложения в запросе
        спортивных событий линии и лайва.
      operationId: LocalizedCountryNamesQuery
      parameters:
        - name: lng
          in: query
          description: |
            Двухбуквенный код языка в ISO 639-1.

            См.
            [Справочник языков](/api#tag/Marketing/operation/LanguagesQuery).
          schema:
            type: string
            default: en
      responses:
        '200':
          description: |
            Массив стран
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalizedCountryNameDtoListResultResource'
              example:
                - id: 1
                  name: Russie
                - id: 2
                  name: Ukraine
                - id: 3
                  name: Abkhazie
  /datafeed/directories/api/v1/matchcancelationstatuses:
    get:
      tags:
        - Marketing
      summary: Справочник статусов отмены матча
      description: |
        Статус отмены `matchStatus` возвращается в ответе методов результатов,
        если матч отменен и его счет отсутствует.
      operationId: MatchCancelationStatusesQuery
      parameters:
        - name: lng
          in: query
          description: |
            Двухбуквенный код языка в ISO 639-1.

            См.
            [Справочник языков](/api#tag/Marketing/operation/LanguagesQuery).
          schema:
            type: string
            default: en
      responses:
        '200':
          description: |
            Массив статусов отмены матча
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatchCancelationStatusDtoListResultResource'
              example:
                items:
                  - id: 1
                    name: Match interrupted
                  - id: 2
                    name: Match postponed
                  - id: 3
                    name: Match details are being confirmed
                  - id: 4
                    name: Match canceled in accordance with the rules
                  - id: 5
                    name: Opponent's withdrawal
                  - id: 6
                    name: Match canceled
  /result/api/v1/sports:
    get:
      tags:
        - Result
      summary: Спорты с доступными результатами
      description: |
        Перечень спортов, в которых есть завершенные матчи — для них будут
        доступны результаты.
      operationId: GetSports
      parameters:
        - name: dateFrom
          in: query
          required: true
          schema:
            type: integer
            format: int64
          description: |
            Дата начала выборки в Unix Epoch.
        - name: dateTo
          in: query
          required: true
          schema:
            type: integer
            format: int64
          description: |
            Дата окончания выборки в Unix Epoch.
        - name: ref
          in: query
          required: true
          schema:
            type: integer
            format: int32
            default: 1
          description: |
            Идентификатор партнера (параметр необходимо уточнять у менеджера).
        - name: lng
          in: query
          description: |
            Двухбуквенный код языка в ISO 639-1.

            См.
            [Справочник языков](/api#tag/Marketing/operation/LanguagesQuery).

            По умолчанию: en
          schema:
            type: string
        - name: cyberFlag
          in: query
          description: |
            Включать ли дисциплины киберспорта:

            * `0` (по умолчанию) — все спорты кроме Киберспорта. В ответе будут
              все спорты, для которых есть завершенные матчи, кроме Киберспорта
            * `1` — только Киберспорт. Если передан, и доступны результаты
              Киберспорта, этот спорт вернется в ответе
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultCoreService.Marketing.Contract.ListResultResource`1[ResultCoreService.Marketing.Contract.Sport]'
              example:
                count: 5
                items:
                  - id: 1
                    name: Football
                  - id: 4
                    name: Tennis
                  - id: 3
                    name: Basketball
                  - id: 2
                    name: Ice Hockey
                  - id: 6
                    name: Volleyball
            application/vnd.xenvelop+json:
              schema:
                $ref: '#/components/schemas/ResultCoreService.Marketing.Contract.ListResultResource`1[ResultCoreService.Marketing.Contract.Sport]'
              example:
                count: 5
                items:
                  - id: 1
                    name: Football
                  - id: 4
                    name: Tennis
                  - id: 3
                    name: Basketball
                  - id: 2
                    name: Ice Hockey
                  - id: 6
                    name: Volleyball
  /result/api/v1/tournaments:
    get:
      tags:
        - Result
      summary: Турниры с доступными результатами
      description: |
        Перечень турниров, в которых есть завершенные матчи — для них будут
        доступны результаты.
      operationId: GetTournaments
      parameters:
        - name: dateFrom
          in: query
          required: true
          schema:
            type: integer
            format: int64
          description: |
            Дата начала выборки в Unix Epoch.
        - name: dateTo
          in: query
          required: true
          schema:
            type: integer
            format: int64
          description: |
            Дата окончания выборки в Unix Epoch.
        - name: sportId
          in: query
          required: true
          schema:
            type: string
          description: |
            Идентификаторы спортов.
        - name: ref
          in: query
          required: true
          schema:
            type: integer
            format: int32
            default: 1
          description: |
            Идентификатор партнера (параметр необходимо уточнять у менеджера).
        - name: lng
          in: query
          description: |
            Двухбуквенный код языка в ISO 639-1.

            См.
            [Справочник языков](/api#tag/Marketing/operation/LanguagesQuery).

            По умолчанию: en
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultCoreService.Marketing.Contract.ListResultResource`1[ResultCoreService.Marketing.Contract.Tournament]'
              example:
                count: 4
                items:
                  - tournamentId: 2159147
                    tournamentNameLocalization: NBA 2K21. Cyber League
                    tournamentImage: 5bbf82fbe46450bc0ea743f5a9379b84.png
                    sportId: 3
                  - tournamentId: 1752378
                    tournamentNameLocalization: UEFA European Championship 2020. Winner
                    tournamentImage: 694452c2046967b4cea48367fdf6beae.png
                    sportId: 1
                  - tournamentId: 917321
                    tournamentNameLocalization: Copa America
                    tournamentImage: 52709e5eee3c0b700a6dc8445c3c3a1f.png
                    sportId: 1
                  - tournamentId: 2082327
                    tournamentNameLocalization: NHL 20. Cyber League
                    tournamentImage: 0c67d311a5733da7df247b222cea48f5.png
                    sportId: 2
            application/vnd.xenvelop+json:
              schema:
                $ref: '#/components/schemas/ResultCoreService.Marketing.Contract.ListResultResource`1[ResultCoreService.Marketing.Contract.Tournament]'
  /result/api/v1/sportevents:
    get:
      tags:
        - Result
      summary: Результаты спортивных событий по турнирам
      description: |
        Запрос результатов спортивных событий по `tournamentId`.

        Возвращает спортивные события турнира с их результатами — счетом матча.

        Если матч не состоялся, в ответе будет информация об отмене.
      operationId: GetGames
      parameters:
        - name: dateFrom
          in: query
          required: true
          schema:
            type: integer
            format: int64
          description: |
            Дата начала выборки в Unix Epoch.
        - name: dateTo
          in: query
          required: true
          schema:
            type: integer
            format: int64
          description: |
            Дата окончания выборки в Unix Epoch.
        - name: tournamentIds
          in: query
          required: true
          schema:
            type: string
          description: |
            Идентификаторы турниров.
        - name: ref
          in: query
          required: true
          schema:
            type: integer
            format: int32
            default: 1
          description: |
            Идентификатор партнера (параметр необходимо уточнять у менеджера).
        - name: vids
          in: query
          schema:
            type: string
            default: ''
          description: |
            Идентификаторы видов спортивных событий. По умолчанию — все виды.

            > Некоторые виды спорта (
            `3` (Баскетбол),
            `28` (Австралийский футбол),
            `13` (Американский футбол))
            могут содержать главные спортивные события с `Vids` = `12`
            (см. [Глоссарий](/intro/glossary)).

            > События, которые не являются главными (с основным типом
            (`Types` = `1`) и основным периодом (`Periods` = `0`)), будут
            приходить с основным видом (`Vids` = `1`).
        - name: types
          in: query
          schema:
            type: string
            default: ''
          description: |
            Идентификаторы типов спортивных событий.

            По умолчанию — все типы.
        - name: lng
          in: query
          description: |
            Двухбуквенный код языка в ISO 639-1.

            См.
            [Справочник языков](/api#tag/Marketing/operation/LanguagesQuery).

            По умолчанию: en
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultCoreService.Marketing.Contract.ListResultResource`1[ResultCoreService.Marketing.Contract.SportEvent]'
              example:
                count: 3
                items:
                  - sportEventId: 312610295
                    constSportEventId: 106675785
                    opponent1NameLocalization: England
                    opponent2NameLocalization: Denmark
                    imageOpponent1:
                      - 12763.png
                    imageOpponent2:
                      - c74e2857cc52f1f884e4d9204e9c19a5.png
                    type: 1
                    vid: 1
                    score: 2:1 (1:1,0:0,1:0)
                    startDate: 1625683500
                    opponent1Ids:
                      - 1876015
                    opponent2Ids:
                      - 2868499
                  - sportEventId: 312610305
                    constSportEventId: 106700563
                    opponent1NameLocalization: England
                    opponent2NameLocalization: Denmark
                    imageOpponent1:
                      - 12763.png
                    imageOpponent2:
                      - c74e2857cc52f1f884e4d9204e9c19a5.png
                    type: 2
                    vid: 1
                    score: 3:3 (1:1,2:2)
                    startDate: 1625683500
                    opponent1Ids:
                      - 1834515
                    opponent2Ids:
                      - 2863495
                  - sportEventId: 312612579
                    constSportEventId: 106709909
                    opponent1NameLocalization: England
                    opponent2NameLocalization: Denmark
                    imageOpponent1:
                      - 12763.png
                    imageOpponent2:
                      - c74e2857cc52f1f884e4d9204e9c19a5.png
                    type: 8
                    vid: 1
                    score: 1:1 (0:0,1:1)
                    startDate: 1625683500
                    opponent1Ids:
                      - 1834516
                    opponent2Ids:
                      - 1263445
            application/vnd.xenvelop+json:
              schema:
                $ref: '#/components/schemas/ResultCoreService.Marketing.Contract.ListResultResource`1[ResultCoreService.Marketing.Contract.SportEvent]'
  /result/api/v1/sportevent:
    get:
      tags:
        - Result
      summary: Результаты конкретных спортивных событий
      description: |
        Запрос результатов спортивных событий по `sportEventId` или
        `constSportEventId`.

        В ответе придет перечень спортивных событий с их результатами — счетом
        матча.

        Если матч не состоялся, в ответе будет информация об отмене.
      operationId: GetSportEvents
      parameters:
        - name: sportEventIds
          in: query
          required: true
          schema:
            type: string
          description: |
            Идентификаторы спортивных событий

            > **Важно**: может принимать как `sportEventId`, так и
            `constSportEventId` (общий идентификатор события для линии и лайва).
            Чтобы найти матч из линии в лайве после его начала, используйте
            `constSportEventId`.
        - name: ref
          in: query
          required: true
          schema:
            type: integer
            format: int32
            default: 1
          description: |
            Идентификатор партнера (параметр необходимо уточнять у менеджера).
        - name: lng
          in: query
          description: |
            Двухбуквенный код языка в ISO 639-1.

            См.
            [Справочник языков](/api#tag/Marketing/operation/LanguagesQuery).

            По умолчанию: en
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultCoreService.Marketing.Contract.ListResultResource`1[ResultCoreService.Marketing.Contract.SportEventSearch]'
              example:
                count: 2
                items:
                  - key: 153396046
                    sportEventId: 415647962
                    constSportEventId: 153396046
                    opponent1NameLocalization: Arsenal (Fifagor)
                    opponent2NameLocalization: Chelsea (SMILE)
                    imageOpponent1:
                      - 867ee9600239139f5a01480ff43c14a0.png
                    imageOpponent2:
                      - 76be53484bb81986fa35294fd3cf01cd.png
                    type: 1
                    vid: 1
                    score: 0:2 (0:1,0:1)
                    startDate: 1669793400
                    opponent1Ids:
                      - 1876015
                    opponent2Ids:
                      - 2868499
                  - key: 415659200
                    sportEventId: 415659200
                    constSportEventId: 153401693
                    opponent1NameLocalization: West Ham United (Zhas1k)
                    opponent2NameLocalization: Aston Villa (aka_nolito)
                    imageOpponent1:
                      - 4f19c5167a9a98a600929b501d98b845.png
                    imageOpponent2:
                      - cb25da9109537b3537591e9408760ec3.png
                    type: 1
                    vid: 1
                    score: 0:0 (0:0,0:0)
                    startDate: 1669797900
                    opponent1Ids:
                      - 1873015
                    opponent2Ids:
                      - 2867499
                    matchStatus: 6
            application/vnd.xenvelop+json:
              schema:
                $ref: '#/components/schemas/ResultCoreService.Marketing.Contract.ListResultResource`1[ResultCoreService.Marketing.Contract.SportEventSearch]'
  /datafeed/loadlist/prematch/api/v1/getGameIds:
    get:
      tags:
        - LoadList
      summary: Список событий линии
      description: |
        Возвращает `sportEventId` всех актуальных спортивных событий.

        > **Важно**: параметры этого запроса валидируются. Их необходимо
        передавать в указанном порядке.
      operationId: GetGameIdsPrematch
      parameters:
        - name: ref
          in: query
          description: |
            Идентификатор партнера (параметр необходимо уточнять у менеджера).
          required: true
          schema:
            type: integer
            format: int32
            default: 1
        - name: lastUpdate
          in: query
          description: |
            Фильтр по времени обновления: в ответе придут события, дата
            обновления которых больше указанного значения.

            Задается как Unix Epoch.

            Каждый последующий вызов принимает значение, указанное в параметре
            ответа `lastIndex`.
          schema:
            type: integer
            format: int64
            default: 0
      responses:
        '200':
          description: |
            Массив спортивных событий
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameDataFeed.Contract.ListResultLastResource`1[System.Int32]'
        '400':
          description: |
            Ошибка валидации:
            * не передан обязательный параметр
            * неизвестный параметр. *Проверьте имя параметра*
            * два одинаковых параметра в запросе
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '403':
          description: |
            Ошибка проверки правил.

            *Проверьте, правильно ли указаны `ref` и `gr` в запросе*.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
  /datafeed/loadlist/prematch/api/v1/getDetailsGame:
    get:
      tags:
        - LoadList
      summary: Информация по спортивному событию
      description: |
        Возвращает информацию по отдельному спортивному событию.

        > **Важно**: параметры этого запроса валидируются. Их необходимо
        передавать в указанном порядке.
      operationId: GetGameDetailsPrematch
      parameters:
        - name: ref
          in: query
          description: |
            Идентификатор партнера (параметр необходимо уточнять у менеджера).
          required: true
          schema:
            type: integer
            format: int32
            default: 1
        - name: gr
          in: query
          description: |
            Группа. Совместно с `cnt`:
            
            * определяет доступность видео на сайте букмекера;
            * используется для формирования доменной части ссылки (`link` в ответе).
            
            Уточните значение параметра у вашего менеджера.
          schema:
            type: integer
            format: int32
            default: 0
        - name: cnt
          in: query
          description: |
            Страна-геопозиция клиента.
            
            Позволяет определять наличие видео в лайве для конкретной страны. 
            Флаг `hasVideo` в ответе будет только у тех спортивных событий, для которых на сайте букмекера ожидается видео в стране, указанной в запросе.
            
            Совместно с `gr` используется для формирования доменной части ссылки (`link` в ответе).
          schema:
            type: integer
            format: int32
            default: 0
        - name: gameId
          in: query
          description: |
            `sportEventId`

            > **Важно**:
            > * Принимает только `sportEventId`, полученный в ответе метода
            >   Списка событий.
            > * Один и тот же матч будет иметь разные `sportEventId` в линии и
            >   лайве.
          required: true
          schema:
            type: integer
            format: int32
        - name: languages
          in: query
          description: |
            Языки локализации.

            Принимает список кодов языков через запятую в алфавитном порядке.

            Например, `cn,en,ru,tw`.
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Массив спортивных событий
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameDataFeed.Line.Contract.V1.GameDetailsLoadList'
        '400':
          description: |
            Ошибка валидации:
            * не передан обязательный параметр
            * неизвестный параметр. *Проверьте имя параметра*
            * два одинаковых параметра в запросе
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '403':
          description: |
            Ошибка проверки правил.

            *Проверьте, правильно ли указаны `ref` и `gr` в запросе*.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
  /datafeed/loadlist/prematch/api/v1/getMarketsGame:
    get:
      tags:
        - LoadList
      summary: Маркеты
      description: |
        Возвращает маркеты по `sportEventId`.

        > **Важно**: параметры этого запроса валидируются. Их необходимо
        передавать в указанном порядке.
      operationId: GetMarketsGamePrematch
      parameters:
        - name: ref
          in: query
          description: |
            Идентификатор партнера (параметр необходимо уточнять у менеджера).
          required: true
          schema:
            type: integer
            format: int32
            default: 1
        - name: gameId
          in: query
          description: |
            `sportEventId`.

            > **Важно**:
            > * Принимает только `sportEventId`, полученный в ответе метода
            >   Списка событий.
            > * Один и тот же матч будет иметь разные `sportEventId` в линии и
            >   лайве.
          required: true
          schema:
            type: integer
            format: int32
        - name: languages
          in: query
          description: |
            Языки локализации.

            Принимает список кодов языков через запятую в алфавитном порядке.

            Например, `cn,en,ru,tw`.
          schema:
            type: string
            nullable: true
        - name: schemeOfGettingOdds
          in: query
          description: |
            > [Фильтр возвращаемых маркетов](/intro/references/schemeOfGettingOdds#schemeofgettingoddsoperations).
          schema:
            $ref: '#/components/schemas/GameDataFeed.Contract.SchemeOfGettingOddsOperations'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameDataFeed.Contract.ListResultResource`1[GameDataFeed.Contract.LoadList.MarketLoadList]'
        '400':
          description: |
            Ошибка валидации
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '403':
          description: |
            Ошибка проверки правил
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
  /datafeed/loadlist/live/api/v1/getGameIds:
    get:
      tags:
        - LoadList
      summary: Список событий лайва
      description: |
        Возвращает `sportEventId` всех актуальных спортивных событий.

        > **Важно**: параметры этого запроса валидируются. Их необходимо
        передавать в указанном порядке.
      operationId: GetGameIds
      parameters:
        - name: ref
          in: query
          description: |
            Идентификатор партнера (параметр необходимо уточнять у менеджера).
          required: true
          schema:
            type: integer
            format: int32
            default: 1
        - name: lastUpdate
          in: query
          description: |
            Фильтр по времени обновления: в ответе придут события, дата
            обновления которых больше указанного значения. Задается как Unix
            Epoch.

            Каждый последующий вызов принимает значение, указанное в параметре
            ответа `lastIndex`.
          schema:
            type: integer
            format: int64
            default: 0
      responses:
        '200':
          description: |
            Массив спортивных событий
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameDataFeed.Contract.ListResultLastResource`1[System.Int32]'
        '400':
          description: |
            Ошибка валидации:
            * не передан обязательный параметр
            * неизвестный параметр. *Проверьте имя параметра*
            * два одинаковых параметра в запросе
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '403':
          description: |
            Ошибка проверки правил.

            *Проверьте, правильно ли указаны `ref` и `gr` в запросе*.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
  /datafeed/loadlist/live/api/v1/getDetailsGame:
    get:
      tags:
        - LoadList
      summary: Информация по спортивному событию
      description: |
        Возвращает информацию по отдельному спортивному событию по
        `sportEventId`.

        > **Важно**: параметры этого запроса валидируются. Их необходимо
        передавать в указанном порядке.
      operationId: GetGameDetails
      parameters:
        - name: ref
          in: query
          description: |
            Идентификатор партнера (параметр необходимо уточнять у менеджера).
          required: true
          schema:
            type: integer
            format: int32
            default: 1
        - name: gr
          in: query
          description: |
            Группа. Совместно с `cnt`:
            
            * определяет доступность видео на сайте букмекера;
            * используется для формирования доменной части ссылки (`link` в ответе).
            
            Уточните значение параметра у вашего менеджера.
          schema:
            type: integer
            format: int32
            default: 0
        - name: cnt
          in: query
          description: |
            Страна-геопозиция клиента.
            
            Позволяет определять наличие видео в лайве для конкретной страны. 
            Флаг `hasVideo` в ответе будет только у тех спортивных событий, для которых на сайте букмекера ожидается видео в стране, указанной в запросе.
            
            Совместно с `gr` используется для формирования доменной части ссылки (`link` в ответе).
          schema:
            type: integer
            format: int32
            default: 0
        - name: gameId
          in: query
          description: |
            `sportEventId`

            > **Важно**:
            > * Принимает только `sportEventId`, полученный в ответе метода
            >   Списка событий.
            > * Один и тот же матч будет иметь разные `sportEventId` в линии и
            >   лайве.
          required: true
          schema:
            type: integer
            format: int32
        - name: languages
          in: query
          description: |
            Языки локализации.

            Принимает список кодов языков через запятую в алфавитном порядке.

            Например, `cn,en,ru,tw`.
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: |
            Массив спортивных событий
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameDataFeed.Live.Contract.V1.GameDetailsLoadList'
        '400':
          description: |
            Ошибка валидации:
            * не передан обязательный параметр
            * неизвестный параметр. *Проверьте имя параметра*
            * два одинаковых параметра в запросе
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '403':
          description: |
            Ошибка проверки правил.

            *Проверьте, правильно ли указаны `ref` и `gr` в запросе*.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
  /datafeed/loadlist/live/api/v1/getMarketsGame:
    get:
      tags:
        - LoadList
      summary: Маркеты
      description: |
        Возвращает маркеты по `sportEventId`.

        > **Важно**: параметры этого запроса валидируются. Их необходимо
        передавать в указанном порядке.
      operationId: GetMarketsGame
      parameters:
        - name: ref
          in: query
          description: |
            Партнер.
          required: true
          schema:
            type: integer
            format: int32
            default: 1
        - name: gameId
          in: query
          description: |
            `sportEventId`.

            > **Важно**:
            > * Принимает только `sportEventId`, полученный в ответе метода
            >   Списка событий.
            > * Один и тот же матч будет иметь разные `sportEventId` в линии и
            >   лайве.
          required: true
          schema:
            type: integer
            format: int32
        - name: languages
          in: query
          description: |
            Языки локализации.

            Принимает список кодов языков через запятую в алфавитном порядке.

            Например, `cn,en,ru,tw`.
          schema:
            type: string
            nullable: true
        - name: schemeOfGettingOdds
          in: query
          description: |
            > [Фильтр возвращаемых маркетов](/intro/references/schemeOfGettingOdds#schemeofgettingoddsoperations).
          schema:
            $ref: '#/components/schemas/GameDataFeed.Contract.SchemeOfGettingOddsOperations'
      responses:
        '200':
          description: |
            Массив спортивных событий
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameDataFeed.Contract.ListResultResource`1[GameDataFeed.Contract.LoadList.MarketLoadList]'
        '400':
          description: |
            Ошибка валидации:
            * не передан обязательный параметр
            * неизвестный параметр. *Проверьте имя параметра*
            * два одинаковых параметра в запросе
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '403':
          description: |
            Ошибка проверки правил.

            *Проверьте, правильно ли указаны `ref` и `gr` в запросе*.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
  /datafeed/loadtree/prematch/api/v1/sportList:
    get:
      tags:
        - LoadTree
      summary: Актуальные спорты линии
      operationId: GetSportListPrematch
      parameters:
        - name: ref
          in: query
          description: |
            Идентификатор партнера (параметр необходимо уточнять у менеджера).
          required: true
          schema:
            type: integer
            format: int32
            default: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameDataFeed.Contract.ListResultResource`1[GameDataFeed.Contract.V1.SportDto]'
        '400':
          description: |
            Ошибка валидации:
            * не передан обязательный параметр
            * неизвестный параметр. *Проверьте имя параметра*
            * два одинаковых параметра в запросе
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '403':
          description: |
            Ошибка проверки правил

            *Проверьте, правильно ли указан `ref` в запросе*
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
  /datafeed/loadtree/prematch/api/v1/tournaments:
    get:
      tags:
        - LoadTree
        - Tournament
      summary: Актуальные турниры линии
      operationId: GetTournamentsPrematch
      parameters:
        - name: ref
          in: query
          description: |
            Идентификатор партнера (параметр необходимо уточнять у менеджера).
          required: true
          schema:
            type: integer
            format: int32
            default: 1
        - name: lng
          in: query
          description: |
            Двухбуквенный код языка в ISO 639-1.

            См.
            [Справочник языков](/api#tag/Marketing/operation/LanguagesQuery).
          schema:
            type: string
            nullable: true
        - name: sportId
          in: query
          description: |
            Идентификатор спорта.
          required: true
          schema:
            type: integer
            format: int32
        - name: subSportIds
          in: query
          description: |
            Идентификаторы дисциплин через запятую.
          schema:
            type: string
            nullable: true
        - name: count
          in: query
          description: |
            Количество элементов в ответе.

            По умолчанию — все.
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameDataFeed.Contract.ListResultResource`1[GameDataFeed.Contract.V1.LocalizationTournamentDto]'
        '400':
          description: |
            Ошибка валидации:
            * не передан обязательный параметр
            * неизвестный параметр. *Проверьте имя параметра*
            * два одинаковых параметра в запросе
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '403':
          description: |
            Ошибка проверки правил.

            *Проверьте, правильно ли указан `ref` в запросе*.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
  /datafeed/loadtree/prematch/api/v1/sportEventIds:
    get:
      tags:
        - LoadTree
      summary: Главные события по турниру
      operationId: GetSportEventIdsPrematch
      parameters:
        - name: ref
          in: query
          description: |
            Идентификатор партнера (параметр необходимо уточнять у менеджера).
          required: true
          schema:
            type: integer
            format: int32
            default: 1
        - name: tournamentId
          in: query
          description: |
            Идентификатор чемпионата.
          required: true
          schema:
            type: integer
            format: int32
        - name: count
          in: query
          description: |
            Количество элементов в ответе.

            По умолчанию — все.
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: |
            Идентификаторы главных спортивных событий
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameDataFeed.Contract.ListResultResource`1[System.Int32]'
        '400':
          description: |
            Ошибка валидации:
            * не передан обязательный параметр
            * неизвестный параметр. *Проверьте имя параметра*
            * два одинаковых параметра в запросе
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '403':
          description: |
            Ошибка проверки правил.

            *Проверьте, правильно ли указан `ref` в запросе*.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
      description: |
        Возвращает список `sportEventId` главных спортивных событий.

        Главное спортивное событие — это событие с линейкой маркетов на исход
        матча. Для главного спортивного события можно получить подыгры
        `subGames` методом /sportEventDetails.
  /datafeed/loadtree/prematch/api/v1/sporteventDetail:
    get:
      tags:
        - LoadTree
      summary: Маркеты и информация по событию
      operationId: GetSportEventDetailsPrematch
      parameters:
        - name: ref
          in: query
          description: |
            Идентификатор партнера (параметр необходимо уточнять у менеджера).
          required: true
          schema:
            type: integer
            format: int32
            default: 1
        - name: gr
          in: query
          description: |
            Группа. Совместно с `cnt`:
            
            * определяет доступность видео на сайте букмекера;
            * используется для формирования доменной части ссылки (`link` в ответе).
            
            Уточните значение параметра у вашего менеджера.
          schema:
            type: integer
            format: int32
            default: 0
        - name: lng
          in: query
          description: |
            Двухбуквенный код языка в ISO 639-1.

            См.
            [Справочник языков](/api#tag/Marketing/operation/LanguagesQuery).
          schema:
            type: string
            nullable: true
        - name: sportEventId
          in: query
          description: |
            Идентификатор события.
          required: true
          schema:
            type: integer
            format: int32
        - name: cnt
          in: query
          description: |
            Страна-геопозиция клиента.
            
            Позволяет определять наличие видео в лайве для конкретной страны. 
            Флаг `hasVideo` в ответе будет только у тех спортивных событий, для которых на сайте букмекера ожидается видео в стране, указанной в запросе.
            
            Совместно с `gr` используется для формирования доменной части ссылки (`link` в ответе).
          schema:
            type: integer
            format: int32
        - name: withSubGames
          in: query
          description: |
            Нужно ли заполнять `subGames` в ответе подыграми (событиями с `type`
            и `period` отличными от основного).

            > См.
            [Получение спортивных событий матча](/intro/getEvents/loadtree).
          schema:
            type: boolean
        - name: schemeOfGettingOdds
          in: query
          description: |
            > [Фильтр возвращаемых маркетов](/intro/references/schemeOfGettingOdds#schemeofgettingodds).
          schema:
            $ref: '#/components/schemas/GameDataFeed.Contract.SchemeOfGettingOddsOperations'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameDataFeed.Line.Contract.V2.LocalizationSportEventWithSubGamesDto'
        '400':
          description: |
            Ошибка валидации:
            * не передан обязательный параметр
            * неизвестный параметр. *Проверьте имя параметра*
            * два одинаковых параметра в запросе
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '403':
          description: |
            Ошибка проверки правил.

            *Проверьте, правильно ли указан `ref` в запросе*.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
  /datafeed/loadtree/live/api/v1/sportList:
    get:
      tags:
        - LoadTree
      summary: Актуальные спорты лайва
      operationId: GetSportList
      parameters:
        - name: ref
          in: query
          description: |
            Идентификатор партнера (параметр необходимо уточнять у менеджера).
          required: true
          schema:
            type: integer
            format: int32
            default: 1
      responses:
        '200':
          description: |
            Массив спортов.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameDataFeed.Contract.ListResultResource`1[GameDataFeed.Contract.V1.SportDto]'
        '400':
          description: |
            Ошибка валидации:
            * не передан обязательный параметр
            * неизвестный параметр. *Проверьте имя параметра*
            * два одинаковых параметра в запросе
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '403':
          description: |
            Ошибка проверки правил.

            *Проверьте, правильно ли указан `ref` в запросе*.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
  /datafeed/loadtree/live/api/v1/tournaments:
    get:
      tags:
        - LoadTree
      summary: Актуальные турниры лайва
      operationId: GetTournaments
      parameters:
        - name: ref
          in: query
          description: |
            Идентификатор партнера (параметр необходимо уточнять у менеджера).
          required: true
          schema:
            type: integer
            format: int32
            default: 1
        - name: lng
          in: query
          description: |
            Двухбуквенный код языка в ISO 639-1.

            См.
            [Справочник языков](/api#tag/Marketing/operation/LanguagesQuery).
          schema:
            type: string
            nullable: true
        - name: sportId
          in: query
          description: |
            Идентификатор спорта.
          required: true
          schema:
            type: integer
            format: int32
        - name: subSportIds
          in: query
          description: |
            Идентификаторы дисциплин через ",".
          schema:
            type: string
            nullable: true
        - name: count
          in: query
          description: |
            Количество элементов в ответе.

            По умолчанию — все.
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: |
            Массив турниров.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameDataFeed.Contract.ListResultResource`1[GameDataFeed.Contract.V1.LocalizationTournamentDto]'
        '400':
          description: |
            Ошибка валидации:
            * не передан обязательный параметр
            * неизвестный параметр. *Проверьте имя параметра*
            * два одинаковых параметра в запросе.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '403':
          description: |
            Ошибка проверки правил.

            *Проверьте, правильно ли указан `ref` в запросе*.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
  /datafeed/loadtree/live/api/v1/sportEventIds:
    get:
      tags:
        - LoadTree
      summary: Главные события по турниру
      operationId: GetSportEventIds
      parameters:
        - name: ref
          in: query
          description: |
            Идентификатор партнера (параметр необходимо уточнять у менеджера).
          required: true
          schema:
            type: integer
            format: int32
            default: 1
        - name: tournamentId
          in: query
          description: |
            Идентификатор чемпионата.
          required: true
          schema:
            type: integer
            format: int32
        - name: count
          in: query
          description: |
            Количество элементов в ответе.

            По умолчанию — все.
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: |
            Идентификаторы главных спортивных событий.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameDataFeed.Contract.ListResultResource`1[System.Int32]'
        '400':
          description: |
            Ошибка валидации:
            * не передан обязательный параметр
            * неизвестный параметр. *Проверьте имя параметра*
            * два одинаковых параметра в запросе
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '403':
          description: |
            Ошибка проверки правил.

            *Проверьте, правильно ли указан `ref` в запросе*.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
      description: |
        Возвращает список `sportEventId` главных спортивных событий.

        Главное спортивное событие — это событие с линейкой маркетов на исход
        матча. Для главного спортивного события можно получить подыгры
        `subGames` методом /sportEventDetails.
  /datafeed/loadtree/live/api/v1/sporteventDetail:
    get:
      tags:
        - LoadTree
      summary: Маркеты и информация по событию
      operationId: GetSportEventDetails
      parameters:
        - name: ref
          in: query
          description: |
            Идентификатор партнера (параметр необходимо уточнять у менеджера).
          required: true
          schema:
            type: integer
            format: int32
            default: 1
        - name: gr
          in: query
          description: |
            Группа. Совместно с `cnt`:
            
            * определяет доступность видео на сайте букмекера;
            * используется для формирования доменной части ссылки (`link` в ответе).
            
            Уточните значение параметра у вашего менеджера.
          schema:
            type: integer
            format: int32
            default: 0
        - name: lng
          in: query
          description: |
            Двухбуквенный код языка в ISO 639-1.

            См.
            [Справочник языков](/api#tag/Marketing/operation/LanguagesQuery).
          schema:
            type: string
            nullable: true
        - name: sportEventId
          in: query
          description: |
            Идентификатор события.

            > **Важно**: может принимать как `sportEventId`, так и
            `constSportEventId` (общий идентификатор события для линии и лайва).
            Чтобы найти матч из линии в лайве после его начала, используйте
            `constSportEventId`.
          required: true
          schema:
            type: integer
            format: int32
        - name: cnt
          in: query
          description: |
            Страна-геопозиция клиента.
            
            Позволяет определять наличие видео в лайве для конкретной страны. 
            Флаг `hasVideo` в ответе будет только у тех спортивных событий, для которых на сайте букмекера ожидается видео в стране, указанной в запросе.
            
            Совместно с `gr` используется для формирования доменной части ссылки (`link` в ответе).
          schema:
            type: integer
            format: int32
        - name: withSubGames
          in: query
          description: |
            Нужно ли заполнять `subgames` в ответе подыграми (событиями с `type`
            и `period` отличными от основного).

            > См. [Получение спортивных событий матча](/intro/getEvents/loadtree).
          schema:
            type: boolean
        - name: schemeOfGettingOdds
          in: query
          description: |
            > [Фильтр возвращаемых маркетов](/intro/references/schemeOfGettingOdds#schemeofgettingodds).
          schema:
            $ref: '#/components/schemas/GameDataFeed.Contract.SchemeOfGettingOddsOperations'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameDataFeed.Live.Contract.V2.LocalizationSportEventWithSubGamesDto'
        '400':
          description: |
            Ошибка валидации:
            * не передан обязательный параметр
            * неизвестный параметр. *Проверьте имя параметра*
            * два одинаковых параметра в запросе
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '403':
          description: |
            Ошибка проверки правил.

            *Проверьте, правильно ли указан `ref` в запросе*.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
  /datafeed/directories/api/v3/sportevent-types:
    get:
      tags:
        - Directories
        - Marketing
      summary: Мультиязычный справочник типов спортивных событий
      description: |
        Перечень доступных типов спортивных событий с переводами.

        *Перечень можно дополнить. Обратитесь к вашему менеджеру.*
      operationId: LocalizedSportEventTypesQuery
      parameters:
        - name: languages
          in: query
          description: |
            Языки переводов.

            Перечень двухбуквенных кодов языков (ISO 639-1) через запятую.

            Например, `ru,en,cn`.
          schema:
            type: string
      responses:
        '200':
          description: |
            Массив типов спортивных событий.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LocalizedSportEventTypesDto'
              example:
                - id: 1
                  localized:
                    ru: ''
                    en: ''
                - id: 24
                  localized:
                    ru: Блок-шоты
                    en: Blocks
                    cn: 拦截
                - id: 28
                  localized:
                    ru: Брейки
                    en: Breaks
                    cn: 破发
                - id: 15
                  localized:
                    ru: Броски в створ ворот
                    en: Shots On Target
                    cn: 球门范围内射门
  /datafeed/directories/api/v3/sportevent-parts:
    get:
      tags:
        - Directories
        - Marketing
      summary: Мультиязычный справочник видов спортивных событий
      description: |
        Перечень доступных видов спортивных событий с переводами.

        *Перечень можно дополнить. Обратитесь к вашему менеджеру.*
      operationId: LocalizedSportEventPartsQuery
      parameters:
        - name: languages
          in: query
          description: |
            Языки переводов.

            Перечень двухбуквенных кодов языков (ISO 639-1) через запятую.

            Например, `ru,en,cn`.
          schema:
            type: string
      responses:
        '200':
          description: |
            Массив видов спортивных событий
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LocalizedSportEventPartsDto'
              example:
                - id: 26
                  localized:
                    ru: 7 иннингов
                    en: 7 Innings
                    cn: 7局
                - id: 783
                  localized:
                    ru: C учетом супер тай-брейка
                    en: Including Super Tie-Break
                    cn: 包括超级决胜局
                - id: 25
                  localized:
                    ru: все сеты до 15 очков
                    en: Each Set Up To 15 points
                    cn: 每一个设为15分
  /datafeed/directories/api/v3/sports:
    get:
      tags:
        - Directories
        - Marketing
      summary: Мультиязычный справочник спортов
      description: |
        Перечень доступных спортов с переводами.

        *Перечень можно дополнить. Обратитесь к вашему менеджеру.*
      operationId: LocalizedSportsDetailsQuery
      parameters:
        - name: languages
          in: query
          description: |
            Языки переводов.

            Перечень двухбуквенных кодов языков (ISO 639-1) через запятую.

            Например, `ru,en,cn`.
          schema:
            type: string
      responses:
        '200':
          description: |
            Массив спортов
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LocalizedSportDto'
              example:
                - sportId: 1
                  sportType: Real
                  oneRound: false
                  noScore: false
                  localized:
                    ru:
                      name: Футбол
                      period: Тайм
                      termination: '-й '
                    en:
                      name: Football
                      period: Half
                      termination: ' '
                    cn:
                      name: 足球
                      period: 半场
                      termination: ''
                - sportId: 2
                  sportType: Real
                  oneRound: false
                  noScore: false
                  localized:
                    ru:
                      name: Хоккей
                      period: Период
                      termination: '-й '
                    en:
                      name: Ice Hockey
                      period: Period
                      termination: ' '
                    cn:
                      name: 冰上曲棍球
                      period: 局
                      termination: ''
                - sportId: 3
                  sportType: Real
                  oneRound: false
                  noScore: false
                  localized:
                    ru:
                      name: Баскетбол
                      period: Четверть
                      subPeriod: половина
                      termination: '-я '
                    en:
                      name: Basketball
                      period: Quarter
                      subPeriod: Half
                      termination: ' '
                    cn:
                      name: 篮球
                      period: 节
                      subPeriod: 半场
                      termination: ''
  /datafeed/directories/api/v3/sportsIsoCode:
    get:
      tags:
        - Directories
        - Marketing
      summary: Мультиязычный справочник спортов (формат языка `aa_BB`)
      description: |
        Перечень доступных спортов с переводами.

        *Перечень можно дополнить. Обратитесь к вашему менеджеру.*
      operationId: SportIsoCode
      parameters:
        - name: languages
          in: query
          description: |-
            Языки переводов.

            Перечень двухбуквенных кодов языков (ISO 639-1 + код страны 3166-1
            alpha 2) через запятую.

            Например, `ru_RU,en_GB,fr_FR`.
          schema:
            type: string
      responses:
        '200':
          description: |
            Массив спортов
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LocalizedSportDto'
              example:
                - sportId: 1
                  sportType: Real
                  oneRound: false
                  noScore: false
                  localized:
                    ru_RU:
                      name: Футбол
                      period: Тайм
                      termination: '-й '
                    en_GB:
                      name: Football
                      period: Half
                      termination: ' '
                    fr_FR:
                      name: 'Football '
                      period: Mi-temps
                      termination: ''
                - sportId: 2
                  sportType: Real
                  oneRound: false
                  noScore: false
                  localized:
                    ru_RU:
                      name: Хоккей
                      period: Период
                      termination: '-й '
                    en_GB:
                      name: Ice Hockey
                      period: Period
                      termination: ' '
                    fr_FR:
                      name: Hockey sur glace
                      period: Période
                      termination: ''
                - sportId: 3
                  sportType: Real
                  oneRound: false
                  noScore: false
                  localized:
                    ru_RU:
                      name: Баскетбол
                      period: Четверть
                      subPeriod: половина
                      termination: '-я '
                    en_GB:
                      name: Basketball
                      period: Quarter
                      subPeriod: Half
                      termination: ' '
                    fr_FR:
                      name: Basket-ball
                      period: Quart-temps
                      subPeriod: Mi-Temps
                      termination: ''
  /datafeed/directories/api/v3/language:
    get:
      tags:
        - Directories
        - Marketing
      summary: Справочник языков v3
      description: |
        Перечень всех языков локализации с кодом ISO 639-1 и кодом страны 3166-1
        alpha 2 (формат `aa_BB`).

        Возвращает также названия на русском.
      operationId: LanguagesQueryV3
      responses:
        '200':
          description: |
            Словарь языков
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/LocalizedLanguageDto-2'
              example:
                en:
                  id: 1
                  name: Английский
                  uriName: en
                  localized: English
                  textDirectionRTL: false
                  isoCode: en_GB
                de:
                  id: 2
                  name: Немецкий
                  uriName: de
                  localized: Deutsch
                  textDirectionRTL: false
                  isoCode: de_DE
                ru:
                  id: 3
                  name: Русский
                  uriName: ru
                  localized: Русский
                  textDirectionRTL: false
                  isoCode: ru_RU
  /datafeed/directories/api/v3/countries:
    get:
      tags:
        - Directories
        - Marketing
      summary: Мультиязычный справочник стран
      description: |
        Получение стран.
      operationId: LocalizedGeoCountriesQuery
      parameters:
        - name: languages
          in: query
          description: |
            Языки переводов.

            Перечень двухбуквенных кодов языков (ISO 639-1) через запятую.

            Например, `ru,en,cn`.
          schema:
            type: string
      responses:
        '200':
          description: |
            Массив стран
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LocalizedCountryDto'
              example:
                - id: 1
                  localized:
                    en: Russia
                    ru: Россия
                    cn: 俄罗斯
                  iso: '643'
                  alpha2Code: RU
                - id: 2
                  localized:
                    en: Ukraine
                    ru: Украина
                    cn: 乌克兰
                  iso: '804'
                  alpha2Code: UA
                - id: 3
                  localized:
                    en: Abkhazia
                    ru: Абхазия
                    cn: 阿布哈兹共和国
                  iso: '895'
                  alpha2Code: AB
  /datafeed/directories/api/v3/countriesIsoCode:
    get:
      tags:
        - Directories
        - Marketing
      summary: Мультиязычный справочник стран (формат языка `aa_BB`)
      description: |
        Получение стран.
      operationId: CountriesIsoCode
      parameters:
        - name: languages
          in: query
          description: |
            Языки переводов.

            Перечень двухбуквенных кодов языков (ISO 639-1 + код страны 3166-1
            alpha 2) через запятую.

            Например, `ru_RU,en_GB,fr_FR`.
          schema:
            type: string
      responses:
        '200':
          description: |
            Массив стран
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LocalizedCountryDto'
              example:
                - id: 1
                  localized:
                    en_GB: Russia
                    ru_RU: Россия
                    fr_FR: Russie
                  iso: '643'
[...]
