<div class="teams">
    <div class="teams__heading">
        <h2><span data-i18n="teams.heading">Follow your team and never miss a match again</span></h2>
        <div class="teams__topics" id="teamsTopics" style="cursor: grab;">
            <button type="button" class="news__topic news__topic--selected" data-sport="football" data-i18n="teams.topic.football">Football</button>
            <button type="button" class="news__topic" data-sport="cricket" data-i18n="teams.topic.cricket">Cricket</button>
            <button type="button" class="news__topic" data-sport="esports" data-i18n="teams.topic.esports">eSports</button>
            <button type="button" class="news__topic" data-sport="basketball" data-i18n="teams.topic.basketball">Basketball</button>
            <button type="button" class="news__topic" data-sport="volleyball" data-i18n="teams.topic.volleyball">Volleyball</button>
        </div>
    </div>  
    <div id="teamsLogos" class="teams__container"></div>
</div>